<!doctype html>
<html>
    <head>
        <title>Polo | {{page_title}}</title>
        <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
                integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
                crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    </head>
    <body>

        <div id="main_menu" class="w3-bar w3-black">
            {% for item in main_menu %}
            <a href="{{item}}" class="w3-bar-item w3-button">{{main_menu[item]}}</a>
            {% endfor %}
        </div>

        <div id="sub_menu" class="w3-bar w3-gray">
            {% for item in sub_menu %}
            <a class="w3-bar-item w3-button w3-orange" href="{{item[0]}}">{{item[1]}}</a>
            {% endfor %}
        </div>

        <div id="banner" class="w3-container">
            <h1>{% block title %}{{page_title}}{% endblock %}</h1>
        </div>

        <div id="main" class="">
            {% block main %} {% endblock %}
        </div>

        <div id="footer" class="">
            {% block footer %}
            <span class="w3-btn w3-black">&copy; 2017 Ontoligent Design</span>
            {% endblock %}
        </div>

    </body>
</html>