{% extends "layout.html" %}

{% block main %}
{% set k = pca_terms.shape[1] %}
<div class="w3-container">
    <b>Params: <code>K = {{k}},  N = {{pca_docs.shape[0]}}</code></b>
</div>

<div class="w3-third w3-container">
    <h1>Loadings</h1>
    <p class="w3-large">The loadings of each component represent the words associated with each component.
        Each component is effectively a language model, where each word is assigned aweight ranging
        from &minus;1 to  &plus;1. Words that cluster at each end of the spectrum -- words with very high
        or very low (negative) weights -- may be considered topics or themes that characterize the corpus.
        We consider the top 15 positive and negative words for each component.
    </p>
    {% set max_var = pca_items.explained_variance.max() %}
    {% for item in pca_items.index %}
    {% set var_percent = (pca_items.loc[item, 'explained_variance'] / max_var) * 100 %}
    <h2>PC{{item}}</h2>
    <div class="w3-large">
         <div class="pc_ev">
             <div class="w3-light-green" style="padding-left:.5rem;height:24px;
             width: {{var_percent}}%">
             σ<sup>2</sup>={{pca_items.loc[item, 'explained_variance']}}</div>
         </div>
        <p><b>&#10133;</b> {{pca_items.loc[item, 'pos']}}</p>
        <p><b>&#10134;</b> {{pca_items.loc[item, 'neg']}}</p>
        <div id="pc_ev_box_{{item}}"></div>
    </div>
    {% endfor %}
  <div id="box-plot"></div>
</div>

<div class="w3-rest w3-container">
    <h1>Comparative Scatter Plots</h1>
    <div id="3d_plot"></div>
    <div id="pca_plots"></div>
</div>

{% endblock %}

{% block code %}

{% set k = pca_terms.shape[1] %}

// EXPLAINED VARIANCE

var expvar = {{pca_items.explained_variance.tolist() | tojson | safe}}

// NEW DATA METHOD
// Get component and topic data for sample docs
// Better to create a matrix in python code
var pcdocs = []
var topic_labels = []
{% for t in topics.index %}
topic_labels[{{t}}] = 'T{{t}} {{topics.loc[t].topic_gloss}}'
pcdocs[{{t}}] = {}
pcdocs[{{t}}].ids = {{pca_docs.loc[pca_docs.maxtopic == t].index.tolist() | tojson | safe }}
pcdocs[{{t}}].comps = []
{% for c in range(k) %}
{% set col = 'PC{}'.format(c) %}
pcdocs[{{t}}].comps.push({{pca_docs.loc[pca_docs.maxtopic == t, col].tolist() | tojson | safe }})
{% endfor %}
{% endfor %}

// OLD DATA METHOD -- Still used for box plots ...
pc = []
{% for i in range(k) %}
{% set col = 'PC{}'.format(i) %}
pc.push( {{pca_docs[col].tolist() | tojson | safe }})
{% endfor %}
pc_docs = {{pca_docs.index.tolist() | tojson | safe}}

// BOX PLOTS

bx_traces = []
bx_layout = {
    height: 75,
    yaxis: {
        autorange: true,
        showgrid: false,
        zeroline: true,
        dtick: 5,
        /* gridcolor: 'rgb(255, 255, 255)', */
        gridwidth: 1,
        zerolinecolor: 'rgb(255, 255, 255)',
        zerolinewidth: 2
    },
    margin: {
        l: 0,
        r: 0,
        b: 0,
        t: 0
    },
    /* paper_bgcolor: 'rgb(243, 243, 243)', */
    /* plot_bgcolor: 'rgb(243, 243, 243)', */
    showlegend: false
}
{% for i in range(k) %}
bx_traces.push({ y: pc[{{i}}], type: 'box', name: 'PC{{i}}' })
{% endfor %}

var bx_layout = {
    title: "Box Plots of PCs",
    showlegend: false
}
Plotly.newPlot('box-plot', bx_traces, bx_layout);

// SCATTER PLOTS

function plot_pcas(pc_x, pc_y) {

    var x_lab = pc_x
    var y_lab = pc_y
    var  div_id = 'scatter_' + x_lab + '_' + y_lab
    $('#pca_plots').append('<div id="' + div_id + '"></div>')

    var traces = []
    {% for t in topics.index %}
    traces.push({
        x: pcdocs[{{t}}].comps[pc_x],
        y: pcdocs[{{t}}].comps[pc_y],
        type: 'scatter',
        mode: 'markers',
        text: pcdocs[{{t}}].ids,
        name: topic_labels[{{t}}]
    })
    {% endfor %}

    var layout = {
        /* title: "PC" + x_lab + " and PC" + y_lab, */
        hovermode: 'closest',
        showlegend: true,
        xaxis: {
            visible: true,
            title: 'PC'+ (pc_x)
        },
        yaxis: {
            visible: true,
            title: 'PC'+ (pc_y)
        },
        margin: {
            l: 0,
            r: 0,
            b: 10,
            t: 10
        },
        height: 400,
        width: 800,
        orientation: 'h'
    }

    Plotly.newPlot(div_id, traces, layout);

    var plot = document.getElementById(div_id), data = pc_docs
    plot.on(
        'plotly_click',
        function(data){
            doc_id = data.points[0].text
            url = '/projects/{{slug}}/{{trial}}/doc/' + doc_id
            window.open(url, '_blank')
        }
    );

}

for (i = 0; i < ({{k-1}}); i++) {
    plot_pcas(i, i+1)
}


// 3D

// Create traces for each topic
traces_3d = []
{% for t in topics.index %}
var t =  {{t}}
traces_3d.push({
    x: pcdocs[t].comps[0],
    y: pcdocs[t].comps[1],
    z: pcdocs[t].comps[2],
    type: 'scatter3d',
    mode: 'markers+text',
    name: topic_labels[t],
    text: pcdocs[t].ids
})
{% endfor %}

// Plot the traces
Plotly.newPlot(
    '3d_plot',
    traces_3d,
    {
        legends: false,
        height: 800,
        width: 800,
        margin: {
            l: 0,
            r: 0,
            b: 10,
            t: 30
        },
        xaxis: {
            visible: true,
            title: 'PC0'
        },
        yaxis: {
            visible: true,
            title: 'PC1'
        },
        zaxis: {
            visible: true,
            title: 'PC2'
        }
    }
)

{% endblock %}