{% extends "layout.html" %}

{% block styles %}
table td { vertical-align: top; margin: 0; padding: 1rem; }
table td:first-child { text-align: right; }
table .topic_id { font-size: large; font-weight:bold; }
table .topic_words { font-weight: bold; font-size: large; }
table td .topic_alpha_zscore { padding: 0 .5rem; }
table td .topic_alpha_zscore.neg { color: red; }
table td .topic_alpha_zscore.pos { color: green; }
table td .topic_gloss { font-size: 16pt; margin: 0 0 0 0; }
{% endblock %}

{% block main %}

<!--
<div class="w3-row">
    <div class="w3-container">
        <div class="w3-btn w3-blue" id="info-toggle">Toggle</div>
    </div>
</div>
-->

<div class="w3-half">
    <div class="w3-container">

        <h2>Topic List</h2>
        <p class="w3-large">
            {{topic_count}} topics in {{doc_count}} documents.
            Topics listed in order of <b>&alpha;</b>. Trend graphs show topic weight <b>averages</b> within the feature {{src_ord_col}}.
        </p>
        <table class="w3-table">
            {% for topic_id in topics.sort_values('topic_alpha', ascending=False).index %}
            {% set topic = topics.loc[topic_id] %}
            <tr>
                <td>
                    <div class="topic_trend_graph"   id="topic_trend_graph_{{topic_id}}" style="width:200px; height:100px;"></div>
                </td>
                <!--
                <td>
                    x<a class="topic_id w3-button w3-blue" href="/projects/{{slug}}/{{trial}}/topic/{{topic_id}}">T{{topic_id}}</a>
                    <div class="topic_alpha_zscore {{topics.loc[topic_id].topic_alpha_zsign}}">Z(&alpha;)={{topic.topic_alpha_zscore | round(2) }}</div>
                </td>
                -->
                <td>
                    <div class="topic_gloss">
                    <a class="topic_id w3-xlarge" href="/projects/{{slug}}/{{trial}}/topic/{{topic_id}}">
                        T{{topic_id}}
                        {{topic.topic_gloss}}
                    </a>
                        <span class="topic_alpha_zscore {{topics.loc[topic_id].topic_alpha_zsign}}">z(&alpha;)={{topic.topic_alpha_zscore | round(2) }}</span>
                    </div>
                    <div class="topic_alpha">
                        <div class="w3-light-green" style="padding-left:.5rem;height:24px; width:{{topics.loc[topic_id].topic_alpha_percent}}%">
                            &alpha;={{topic.topic_alpha}}
                        </div>
                    </div>
                    <div class="topic_words">{{topic.topic_words}}</div>
                    <div class="topic_phrases">{{topic.topic_phrases}}</div>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>

<div class="w3-rest">
    <div class="w3-container">

        <!-- Top Bigrams -->
        <h2>Top Bigrams</h2>
        <p class="w3-large">Top bigrams in the corpus out of <tt>{{bigrams.ngram_count.sum()}}</tt> unique bigrams. Bigrams
            are sorted on the basis of their overall frequency in the corpus, multiplied by their entropy. This
            prevents words that appear frequenty in a single document, for example, from trending highly.
        </p>
        <table class="w3-table">
            {% for i in bigrams.index %}
            {% set bigram = bigrams.loc[i] %}
            <tr>
                {% if ngm %}
                <td style="width:20%;">
                    <div class="bigram_trend_graph" id="bigram_trend_graph_{{bigram.ngram}}" style="height:100px;"></div>
                </td>
                {% endif %}
                <td style="width:80%;">
                    <a class="w3-xlarge" href="/projects/{{slug}}/{{trial}}/ngram/{{bigram.ngram}}">
                        {{bigram.ngram | replace('_', '&nbsp;') | safe }}
                    </a>
                <!--
                </td>
                <td>
                -->
                    <div class="w3-light-green" style="height:24px; width:{{bigrams.loc[i].ngram_percent}}%">{{bigrams.loc[i].score | round(4)}}</div>
                </td>
            </tr>
            {% endfor %}
        </table>

                <h2>Model Information</h2>
        <table class="w3-table">
            <!--
            <tr>
                <td>Documents</td>
                <td>{{doc_count}}</td>
            </tr>
            <tr>
                <td>Topics</td>
                <td>{{topic_count}}</td>
            </tr>
            <tr>
                <td>Max Topic Weight</td>
                <td>{{dtm.values.max()}}</td>
            </tr>
            -->
            <tr>
                <td>Trials</td>
                <td>
                    {% for this_trial in trials %}
                    {% if trial == this_trial %}
                    <span class="w3-btn w3-blue" style="margin:8px 0;">{{this_trial}}</span>&nbsp;
                    {% else %}
                    <a class="w3-btn w3-green" href="/projects/{{slug}}/{{this_trial}}">{{this_trial}}</a>&nbsp;
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Groups</td>
                <td>
                    {% for group in groups %}
                    <a class="w3-btn w3-green" href="/projects/{{slug}}/{{trial}}/groups/{{group}}">{{group}}</a>&nbsp;
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Grouping Feature</td>
                <td>{{src_ord_col}}</td>
            </tr>

        </table>


        <div id="doc_ord_counts"></div>
        <div id="topic_alpha_hist"></div>


    </div>
</div>

{% endblock %}

{% block code %}

// info toggle
$( document ).ready(function() {
    $('#info-toggle').click(function() {
        $(".topic_words").toggle("slow");
        $(".topic_phrases").toggle("slow");
        $(".topic_alpha").toggle("slow");
        $(".topic_trend_graph").toggle("slow");
    })
});

// Doc Group Counts
Plotly.newPlot('doc_ord_counts',
    [{
        x: {{doc_ord_counts.index.values.tolist() | tojson | safe}},
        y: {{doc_ord_counts.doc_count.values.tolist() | tojson | safe}},
        type:'bar',
        hoverinfo: 'x+y',
        showlegend: false
    }],
    {
        title:'Documents Counts per Group',
        xaxis: {
            tickmode: 'linear'
        }
    }
)


// Topic Alpha Histogram
Plotly.newPlot(
    'topic_alpha_hist',
    [{
        x: {{topics.topic_alpha.tolist()}},
        type: 'histogram'
    }],
    {'title':'Histogram of Topic Alpha'}
)

// General config for trend graphs
var layout = {
    xaxis: {visible: false, showgrid: false, showline: false, showticklabels: false, type: 'category'},
    yaxis: {visible: true, showgrid: true, showline: false, showticklabels: false},
    margin: {l: 10, r: 10, b: 50, t: 0, pad: 0}
}
var config = {displaylogo: false, displayModeBar: false, scrollZoom: false, editable: false, staticPlot: false};
{% for topic_id in topics.sort_values('topic_alpha', ascending=False).index %}
{% set topic_col = '{}'.format(topic_id) %}
var x{{topic_id}} = {{ dtm[topic_col].index.astype('str').tolist() | tojson | safe }}
var y{{topic_id}} = {{ dtm[topic_col].values.tolist() | tojson | safe }}
var data{{topic_id}} = [{x:x{{topic_id}}, y:y{{topic_id}}, type:'bar', hoverinfo: 'x+y', showlegend: false}]
Plotly.newPlot("topic_trend_graph_{{topic_id}}", data{{topic_id}}, layout, config)
{% endfor %}


{% if ngm %}

// General config for bigram trend graphs
var layout = {
    xaxis: {visible: false, showgrid: false, showline: false, showticklabels: false, type: 'category'},
    yaxis: {visible: true, showgrid: true, showline: false, showticklabels: false},
    margin: {l: 10, r: 10, b: 50, t: 0, pad: 0}
}

var config = {displaylogo: false, displayModeBar: false, scrollZoom: false, editable: false, staticPlot: false};

{% for i in bigrams.index %}

{% set bigram = bigrams.loc[i] %}
{% set ngram = bigram.ngram %}
var x{{ngram}} = {{ ngm.columns.tolist() | tojson | safe }}
var y{{ngram}} = {{ ngm.loc[ngram].values.tolist() | tojson | safe }}
var data{{ngram}} = [{x:x{{ngram}}, y:y{{ngram}}, type:'bar', hoverinfo: 'x+y', showlegend: false}]
Plotly.newPlot("bigram_trend_graph_{{ngram}}", data{{ngram}}, layout, config)

{% endfor %}

{% endif %}

{% endblock %}
