{% extends "layout.html" %}

{% block styles %}
#topic_graph {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
}
{% endblock %}

{% block scripts %}
<script 
    type="text/javascript" 
    src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script>
<link 
    href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" 
    rel="stylesheet" type="text/css" />
{% endblock %}

{% block main %}
<div class="w3-row">
    <div class="w3-container">
        <div id="pair_graph"></div>
    </div>
</div>
{% endblock %}

{% block code %}
var nodes = new vis.DataSet({{nodes|safe}})
var edges = new vis.DataSet({{edges|safe}})
var container = document.getElementById('pair_graph');
var data = {
    nodes: nodes,
    edges: edges
};
var options = {
    autoResize: true,
    height: '1000px',
    width: '100%',
    nodes: {shape: 'box'},
    physics: {
        enabled: true,
        solver: 'forceAtlas2Based',
        forceAtlas2Based: {
            damping: .4,
        }
    },
};
var network = new vis.Network(container, data, options);


{% endblock %}