{% extends "layout.html" %}

{% block main %}

<div class="w3-half">
    <div class="w3-xxlarge">{{topic.topic_words.values[0]}}</div>
    <div class="w3-xlarge">{{topic.topic_phrases.values[0]}}</div>
</div>

<div class="w3-half">
    <div class="" id="topic_trend_graph"></div>
    <script type="text/javascript">
    var layout = {
        title: "Average Topic Weight Trend",
        xaxis: {title: 'doc group', tickangle: 45, visible: true, showgrid: true, showline: true, showticklabels: true},
        yaxis: {title: 'topic weight', visible: true, showgrid: true, showline: true, showticklabels: true},
        margin: {l: 50, r: 50, b: 100, t: 30, pad: 10}
    }
    var config = {displaylogo: false, displayModeBar: false, scrollZoom: false, editable: false, staticPlot: false}
    var x = {{ trend.ord_val.tolist() | tojson | safe }}
    var y = {{ trend.topic_weight.values.tolist() | tojson | safe }}
    var data = [{x:x, y:y, type:'bar', hoverinfo: 'x+y', showlegend: false}]
    Plotly.newPlot("topic_trend_graph", data, layout, config)
    </script>
</div>

{% endblock %}