{% extends "layout.html" %}

{% block main %}

<div class="w3-half w3-container">
    <div id="tsne_plot"></div>
    <div>
        {% if join == 'left' %}
        <a href="{{url_for('w2v_page', slug=slug, trial=trial, join='inner')}}" class="w3-btn w3-red">Exclude </a>
        {% else %}
        <a href="{{url_for('w2v_page', slug=slug, trial=trial, join='left')}}" class="w3-btn w3-green">Include</a>    
        {% endif %}
        words without PCs.
    </div>
    <div id="tsne_plot2"></div>
</div>

{% endblock %}

{% block code %}

{% set max_pc = coords.pc_id.max() %}
{% set min_pc = coords.pc_id.min() %}
var traces  = []
{% for pc_id in range(min_pc, max_pc+1) %}
{% set pc = coords.loc[coords.pc_id == pc_id] %}
{% if pc_id == -1 %}
    {% set legend_name = 'No PC' %}
{% else %}
    {% set legend_name = 'PC{}'.format(pc_id) %}
{% endif %}
var sizes = {{ pc.token_norm_count.tolist() | tojson | safe }}
var symbols = {{ pc.symbol.tolist() | tojson | safe }}
traces.push({
    x: {{ pc.tsne_x.tolist() | tojson | safe }},
    y: {{ pc.tsne_y.tolist() | tojson | safe }},
    text: {{ pc.token_str.tolist() | tojson | safe }},
    type: 'scatter',
    mode: 'text+markers',
    name: '{{legend_name}}',
    textposition: 'top center',
    textfont: {
        family: 'Arial, sans-serif',
        size: sizes
    },
    marker: { 
        size: sizes,
        sizemode: 'diameter',
        symbol: symbols
    },

})
{% endfor %}

var layout = {
    hovermode: 'closest',
    width: 1500,
    height: 1500,
    hoverinfo: 'none',
    legend: {
        orientation: 'h'
    }
}
Plotly.newPlot('tsne_plot', traces, layout)

// TSNE with TOPICS
topic_traces = []
{% for i in topics.sort_values('topic_alpha', ascending=False).index %}
{% set topic = coords.loc[coords.topic_id == i] %}
// stopic_ids = {{ topic.topic_id.tolist() | tojson | safe }}
topic_sizes = {{ topic.token_norm_count.tolist() | tojson | safe }}
topic_traces.push({
    name: 'Topic ' + {{i}} + ' {{topics.loc[i, 'topic_gloss']}}',
    x: {{ topic.tsne_x.tolist() | tojson | safe }},
    y: {{ topic.tsne_y.tolist() | tojson | safe }},
    text: {{ topic.token_str.tolist() | tojson | safe }},
    type: 'scatter',
    mode: 'text+markers',
    textposition: 'top center',
    textfont: {
        family: 'Arial, sans-serif',
        size: topic_sizes,
    },
    marker: {
        size: topic_sizes,
        sizemode: 'diameter'
    }
})
{% endfor %}
Plotly.newPlot(
    'tsne_plot2',
    topic_traces,
    layout
)


{% endblock %}